 .text-center{
    text-align: center;
 }
 header{
    background-color: rgb(169, 62, 0);
 }
 .d-flex{
    display: flex;

 }
 .w-20{
    width: 20%;
 }
 .w-80{
    width: 80%;
 }
 .container{
    display: flex;
 }
 .w-50{
    width: 50%;
 }
 .mt-70{
    margin-top: 50px;

 }
 p{
    color: rgb(255, 252, 252);
    text-align: justify;
    font-size: 16px;
    font-style:oblique;
    font-weight: 600;
    line-height: 1.6;
    
 }
.logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.about-img{
    width: 50%;
    height:150px;
    border-radius: 10px;
   
}
.menu{
    display: flex;
    justify-content: right;
    color: aliceblue;
    font-size: 20px;
    font-weight: 700;
    font-family: sans-serif;
    list-style-type: none;
    
    

}
.menu li{
    text-decoration: none;
    padding: 20px;

}
.menu li:hover{

    color:#f36100;
}
h2{
   color: rgb(255, 255, 255);
}
.btn-1{
   width: 170px;
   height: 35px;
   background-color: rgb(112, 14, 18);
   color: aliceblue;
   border-radius: 10px;
}
.btn-1:hover{
   background-color: rgb(14, 4, 77);
}
.btn-2{
   width: 170px;
   height: 35px;
   background-color: rgb(255, 171, 15);
   color: aliceblue;
   border-radius: 10px;

}
h1{
   color: rgb(60, 10, 2);
   line-height: 1.5;
   
} 
   
.body-1{
   background-color: rgb(73, 31, 4);
}
h3{
   color: rgb(255, 202, 9);
   justify-content: right;
   
} 
.h1-1{
   color: rgb(255, 17, 9);
   justify-content: right;
   
}
.var-1{
   text-align: center;
   color: black;
   font-size: 26px;
   font-weight: 700;
   font-style: italic;

}
.flex-wrap{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   gap: 15px;
    
}
.food-grid{
   width: 250px;
  
   border: 2px #650ef0;
   padding-bottom: 15px;
   margin-bottom: 25px;
}
.mt-20{
    margin-top:20px;
}
.food-grid:hover{
   box-shadow: 0px 3px 10px 5px rgba(18, 25, 33, 0.4);
}
.dish-1{
   color: black;
}
.img-1{
   width: 100%;
}
body{
   width: 100%;
   margin:0 auto ;
 
}
 .img-3{
 width: 500px;
 border-radius: 50%;
 box-shadow: 0px 3px 10px 5px rgba(179, 60, 60, 0.4);
} 
.chef-p{
   color: #701d03;
}
.w-25{
   width:25%;
   
}

.border-1{
   border:1px solid rgb(255, 255, 255) ;
   border-radius: 2px;
   justify-content: right;
   background-color: #ffffff;
   margin: 20px;
  
}
.border-1:hover{
   box-shadow: 0px 3px 10px 5px rgba(46, 39, 39, 0.4);
   
}

.class{
   background-color: #701d03;
}
.border-2{
border:1px solid rgb(220, 0, 0) ;
   border-radius: 2px;
   justify-content: right;
   background-color: #3d0606;
   margin: 20px;
   width: 100%;
   height: 500px;
  
}
.menu-1{
   color: black;
}
.w-100{
   width: 100%;
}
.menu-color{
   color: aliceblue;
}
.text-color{
   color: rgb(244, 79, 2);
}
